body{
    margin: 0 auto;
    font-family: Roboto;
    background-color: #F4F6FC;
}

.container-navbar{
    padding-right: 30px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.navbar-logo{
    width: 60px;
    height: 18px;
    padding-top: 50px;
}

.menu-navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.nav-link{
    color: #6B708D;
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
    padding: 20px;
    text-align: left;
    margin: auto;
    position: relative;
}

.primary-button{
    font-size: 17px;
    padding: 15px 36px;
    background-color: #072AC8;
    color: white;
    text-decoration: none;
    border-radius: 0;
    border-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.section-hero{
    margin-top: 0;
    padding: 0 30px;    
}

.hero-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-content{
    display: flex;
    flex-direction: column;
    max-width: 700px;
    align-content: flex-start;

}

.hero-content h1{
    color: #292E47;
    font-size: 40px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
    line-height: 130%;
    font-weight: bold;
}

.hero-content p{
    font-size: 17px;
    max-width: 550px;
    text-align: center;
    color: #6B708D;
    line-height: 150%;
    margin-bottom: 40px;
}

.hero-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.text-button{
    color: #6B708D;
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
    padding-top: 20px;
}

.hero-images{
    max-width: 500px;
}

.hero-image-1{
    max-width: 500px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.hero-image-card1{
    display: none;
}
.hero-image-card2{
    display: none;
}

.section-companies{
    padding: 0  30px;
}

.companies-logos{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.company-logo{
    margin-top: 30px;
    align-content: center;
    filter: grayscale(1);
}

.section-projects{
    margin-top: 40px;
    padding: 0 30px;
}

.container-projects{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.h3-projects{
    font-size: 30px;
    text-align: center;
    color: #292E47;
}

.project-block{
    margin-top: 30px;
}

.projects-list{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.project-card{
    margin-top: 20px;
    width: 100%;
    max-width: 100%;
}

.card-image{
    object-fit: cover;
    width: 100%;
    height: 240px;
}

.card-content{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    justify-content: space-between;
    height: 200px;
}

.card-title{
    margin: 30px 30px 30px 20px;
    color: #292E47;
    font-size: 24px;
    font-weight: bold;
}

.card-description{
    margin: 30px 0px 30px 20px;
    color: #292E47;
}

.card-link{
    margin: 20px 10px 30px 20px;
    color: #072AC8;
    font-weight: 500;
    text-decoration: none;

}

.section-testimonial{
    height: 400px;
    padding: 0 30px;
    max-width: 100%;
    margin-top: 60px;
    background-color: #292E47;
    background-image: url(/images/testimonial-section/orbit.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.container-testimonial{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.testimonial-title{
    font-size: 30px;
    color: #F4F6FC;
    text-align: center;
    margin-top: 20px;
}

.testimonial-text{
    max-width: 596px;
    color: #FFC600;
    font-size: 24px;
    line-height: 160%;
    font-weight: 500;
    text-align: center;
}

.testimonial-client{
    display: flex;
    align-items: center;
}

.image-client{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 100%;
}

.info-client{
    margin-left: 10px;
}

.name-client{
    font-size: 17px;
    color:#A2D6F9;
}

.job-client{
    font-size: 17px;
    color:#F4F6FC;
}

.emoji-1{
    display: none;
}
.emoji-2{
    display: none;
}
.emoji-3{
    display: none;
}
.emoji-4{
    display: none;
}

.section-footer{
    padding-bottom: 100px;
    margin-top: 60px;
}

.container-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-circle-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-circle-logo{
    margin-bottom: 30px;
}

.footer-circle-address{
    color: #6B708D;
    font-size: 17px;
    line-height: 150%;
}

.footer-links{
    margin-top: 20px;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.footer-link{
    text-decoration: none;
    color: #072AC8;
}

@media (min-width: 768px){
    
   .container-navbar{
        flex-direction: row;
        align-items: center;
        padding-left: 170px;
        padding-right: 170px;
        max-width: 1100px;
        margin-right: auto;
        margin-left: auto;
   }
   .navbar-logo{
        padding-top: 0;
    }

   .section-hero{
        padding-top: 100px;
   }

   .hero-content{
        max-width: 530px;
        align-items: left;
   }

   .hero-content h1{
        color: #292E47;
        font-size: 60px;
        text-align: left;
        margin-top: 20px;
    }

    .hero-content p{
        text-align: left;
        max-width: 435px;
        font-size: 20px;
    }

    .hero-container{
        flex-direction: row;
        max-width: 1100px;
        margin-right: auto;
        margin-left: auto;
    }

    .hero-buttons{
        flex-direction: row;
    }

    .text-button{
        padding-left: 40px;
        padding-top:0;
    }

    .hero-images{
        position: relative;
    }

    .hero-image-card1{
        display: inline-block;
        position: absolute;
        width: 190px;
        height: 216px;
        left: -20px;
        top: 25px;
    }

    .hero-image-card2{
        display: inline-block;
        position: absolute;
        width: 190px;
        height: 193px;
        right: -50px;
        bottom: -50px;
    }
    
    .companies-logos{
        margin-top: 100px;
        max-width: 1100px;
        margin-right: auto;
        margin-left: auto;
        flex-direction: row;    
        justify-content: space-between;    
    }
    
    .company-logo{
        margin-top: 30px;
        align-content: center;
    }

    .section-projects{
        margin-top: 200px;
    }
    
    .container-projects{
        max-width: 1100px;
        margin-right: auto;
        margin-left: auto;
    }    

    .h3-projects{
        font-size: 40px;
    }

    .project-block{
        margin-top: 70px;
    }

    .projects-list{
        display: grid;
        grid-auto-flow: row;
        grid-auto-columns: 1fr;
        grid-column-gap: 40px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto;
    }

    .project-card{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 340px;
        max-width: 340px;
        height: 444px;
        max-height: 444px;
        margin-top: 0px;
    }

    .section-testimonial{
        height: 622px;
    }

    .container-emojis{
        display: flex;
        align-items: center;
    }
    .emoji-1{
        display: flex;
        position: absolute;
        height: 150px;
        width: 150px;
        top: 1950px;
        margin-left: 20%;
    }

    .emoji-2{
        display: flex;
        position: absolute;
        height: 150px;
        width: 150px;
        top: 1950px;
        margin-left: 70%;
    }

    .emoji-3{
        display: flex;
        position: absolute;
        height: 150px;
        width: 150px;
        top: 2300px;
        margin-left: 20%;
    }

    .emoji-4{
        display: flex;
        position: absolute;
        height: 150px;
        width: 150px;
        top: 2300px;
        margin-left: 70%;
    }


    .section-footer{
        margin-top: 170px;
    }
    
    .container-footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        max-width: 1100px;
        margin-right: auto;
        margin-left: auto;
    }

    .footer-circle-info{
        width: 260px;
        max-width: 260px;
        display: inline-block;
    }

}